*,
html {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a,
span,
i {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    transition: all linear .3s;
}

ul li {
    list-style-type: none;
}



@font-face {
    font-family: 'solaiman_lipi';
    src: url('../../fonts/SolaimanLipi.ttf');
}
@media print {
    .joma_din,
    .print_preview {
        display: none; /* Hides the entire div during printing */
    }
    .do_not_print,
    .parent_popup .unit_info_icon{
        display: none;
    }
}

#report_uplode_body {
    font-family: 'solaiman_lipi';
    font-size: 15px;
    width: 8.27in;
    height: 11.69in;
    margin: auto;
}

.letter_spacing{
    letter-spacing: -1px;
}

.font-18 {
    font-size: 18px;
}

.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.width-5 {
    width: 5%;
}

/* width by % */
.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}
.width-19{
    width: 19%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-33 {
    width: 33%;
}

.width-35 {
    width: 35%;
}

.width-40 {
    width: 40%;
}

.width-45 {
    width: 45%;
}

.width-55 {
    width: 55%;
}

.width-60 {
    width: 60%;
}

.width-65 {
    width: 65%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.bg-input {
    background-color: #00000012;
}

/* width by px */
.width-10px {
    width: 15px;
}

.border_dot {
    border-bottom: 1px dotted black;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}

table {
    width: 100%;

}

td,
th {
    /* height: 30px; */
    padding: 1px 5px;
    /* min-width: 60px; */
}

.table_layout_fixed {
    table-layout: fixed;
}

#heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;

}

#heading label {
    font-size: 18px;
}

.org_gender {
    right: 0;
    top: 0;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 16px;
    font-size: 18px;
}

.baytulmal .title {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.baytulmal .title h1 {
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: 800;
}

.border_none {
    border: none;
}

.border_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
}

.border_left_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.vertical_align_baseline {
    vertical-align: baseline;
}

.margine_top_page_change{
    margin-top: 130px;
}

.print_preview {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(3, 53, 3);
    bottom: 15px;
    right: 15px;
    box-shadow: 0px 0px 6px 6px rgb(4 43 14 / 20%);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.print_preview:hover {
    background-color: rgb(37, 159, 37);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 6px rgb(4 43 14 / 40%);
}

/* Active state for click effect */
.print_preview:active {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 3px rgb(4 43 14 / 30%);
}

.parent_popup {
    position: relative; /* Set this on the immediate parent */
    /* z-index: -1; */
}
.parent_popup:has(.unit_data_popup.active) {
    z-index: 9999;
}
.unit_info_icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -2px;
    .i_icon{
        font-size: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        background-color: #87cefaa6;
        border-radius: 50%;
        position: relative;
        z-index: 999;
    }
}
.unit_data_popup {
    position: absolute;
    max-width: 300px;
    min-width: 150px;
    background-color: #FFFFFF;
    border-radius: 3px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    top: 0;
    right: 0;
    transition-duration: .3s;
    transform: translateY(0);
}
.unit_data_popup.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: calc(100% + 3px);
    right: 0px;
}
.unit_data_popup table tr td{
    font-size: 12px;
    padding: 5px;
}
.parent_popup_note{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: start;

}
.parent_popup_note:has(.unit_data_popup.active) {
    z-index: 9999;
}
.parent_popup_note .line{
    border-bottom: 2px dashed black;
    flex: 1;
}
