@font-face {
    font-family: 'solaiman_lipi';
    src: url('../../fonts/SolaimanLipi.ttf');
}
body{
    font-family: 'solaiman_lipi';
    font-size: 15px;
    width: 8.27in;
    height: 11.69in;
    margin: auto;
}
.letter_spacing{
    letter-spacing: -1px;
}
.font-18{
    font-size: 18px;
}
.font-14{
    font-size: 14px;
}
.font-13{
    font-size: 13px;
}
.font-12{
    font-size: 12px;
}
.font-11{
    font-size: 11px;
}

/* width by % */
.width-5{
    width: 5%;
}
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-19{
    width: 19%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-33{
    width: 33%;
}
.width-35{
    width: 35%;
}

.width-40{
    width: 40%;
}
.width-45{
    width: 45%;
}
.width-55{
    width: 55%;
}
.width-60{
    width: 60%;
}
.width-65{
    width: 65%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}


/* width by px */
.width-10px{
    width: 15px;
}

.border_dot{
    border-bottom: 1px dotted black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}
table{
    width: 100%;

}
td,th{
    height: 20px;
    padding: 1px 5px;
    /* min-width: 60px; */
    /* white-space: nowrap; */
}
.table_layout_fixed{
    table-layout: fixed ;
}
#heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;

}
#heading p{
    font-size: 18px;
}
.org_gender{
    right: 0;
    top: 0;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 18px;
}

.baytulmal .title{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.baytulmal .title h1{
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 16px;
    font-size: 22px;
    font-weight: 800;
}
.border_none {
    border: none;
}
.border_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
}
.border_left_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.vertical_align_baseline{
    vertical-align: baseline;
}

.negative_margine{
    margin-bottom: -15px;
}

.print_preview {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(3, 53, 3);
    bottom: 15px;
    right: 15px;
    box-shadow: 0px 0px 6px 6px rgb(4 43 14 / 20%);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.print_preview:hover {
    background-color: rgb(37, 159, 37);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 6px rgb(4 43 14 / 40%);
}

/* Active state for click effect */
.print_preview:active {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 3px rgb(4 43 14 / 30%);
}
