/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */


@media screen and (max-width: 768px) {
    .report_app_right .report_app_right_top .middle{
        flex: 1;
    }
    .report_app_right .report_app_right_top .middle .thana,
    .report_app_right .report_app_right_top .middle .ward_name{
        display: none;
    }
    
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .close_sidebar{
        display: none;
    }
    .report_app{
        height: 100svh;
        width: 100vw;
        display: grid;
        grid-template-columns: 230px 1fr;
        transition: grid-template-columns .5s ease;
    }
    .sidebar_hide{
        grid-template-columns: 0px 1fr;
    }
    .side_nav_toggle{
        opacity: 0;
        transition: opacity .05s ease;
    }

    .report_app_left{
        position: unset;
        background-color: var(--dark);
        width: 100%;
        opacity: 1;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }