@font-face {
    font-family: 'solaiman_lipi';
    src: url('../../fonts/SolaimanLipi.ttf');
}
body{
    font-family: 'solaiman_lipi';
    font-size: 15px;
    width: 8.27in;
    height: 11.69in;
    margin: auto;
}
.font-18{
    font-size: 18px;
}
.font-13{
    font-size: 13px;
}

/* width by % */
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-33{
    width: 33%;
}
.width-35{
    width: 35%;
}

.width-40{
    width: 40%;
}
.width-45{
    width: 45%;
}
.width-55{
    width: 55%;
}
.width-60{
    width: 60%;
}
.width-65{
    width: 65%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}

.bg-input{
    background-color: #d5f3ff;
}
/* width by px */
.width-10px{
    width: 15px;
}

.border_dot{
    border-bottom: 1px dotted black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}
table{
    width: 100%;

}
td,th{
    /* height: 30px; */
    padding: 1px 5px;
    /* min-width: 60px; */
}
.table_layout_fixed{
    table-layout: fixed ;
}
#heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;

}
#heading label{
    font-size: 18px;
}
.org_gender{
    right: 0;
    top: 0;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 18px;
}

.baytulmal .title{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.baytulmal .title h1{
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: 800;
}


