*,
html,
body {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

a,
span,
i {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    transition: all linear .3s;
}

ul li {
    list-style-type: none;
}



@font-face {
    font-family: 'solaiman_lipi';
    src: url('../../fonts/SolaimanLipi.ttf');
}
body{
    font-family: 'solaiman_lipi';
    font-size: 15px;
    width: 8.27in;
    height: 11.69in;
    margin: auto;
}
.font-18{
    font-size: 18px;
}
.font-13{
    font-size: 13px;
}

/* width by % */
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-33{
    width: 33%;
}
.width-40{
    width: 40%;
}


/* width by px */
.width-10px{
    width: 15px;
}

.border_dot{
    border-bottom: 1px dotted black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}
table{
    width: 100%;

}
td,th{
    /* height: 30px; */
    padding: 1px 5px;
    /* min-width: 60px; */
}
.table_layout_fixed{
    table-layout: fixed ;
}
#heading {
    border-bottom: 1px solid black;
    padding-bottom: 2px;

}
#heading p{
    font-size: 18px;
}
.org_gender{
    right: 0;
    top: 0;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 18px;
}

.baytulmal .title{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.baytulmal .title h1{
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 22px;
    font-weight: 800;
}
.border_none {
    border: none;
}
.border_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
}
.border_left_bottom {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.vertical_align_baseline{
    vertical-align: baseline;
}

